
@font-face {
    font-family: 'Acorn';
    src: url('font/acorn.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GT';
    src: url('font/gt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {outline: none !important;}

::selection {
	background-color: #475B6F;
	color: #fff;
}

html {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
	overflow-y: scroll;
}

body {
    font-family: Arial, sans-serif;
    margin:0px;
    text-align:center;
}

h1 {
    font-family: 'Acorn', 'Times New Roman', serif;
}

h3, h2{
  font-family: 'GT', 'Times New Roman', serif;
}

a {
	text-decoration: none;
	outline: none;
}

a{
	color: #4da7ca;
	-o-transition: all .4s;
	-ms-transition: all .4s;
	-moz-transition: all .4s;
	-webkit-transition: all .4s;
	transition: all .4s;
}

img{
  width: 100%;
  height:auto;
}

section{
  position:relative;
  width:100vw;
  unicode-bidi: isolate;
  line-height:1.5;
}


.canvas{
    background-image: url('pictures/banner.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    top:0;
    left:0;
    height: 100vh;
    width: 100%;
    z-index:1;
}

.flex{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 20;
}

.text,.start{
  position:absolute;
  z-index:2;
  text-align:center;
}

.text{
  transform: translateY(-50%);
  top:45%;
  width:100%;
}

.start{
  transform: translateY(-50%);
  top:68%;
  width:auto;
  padding:4px 10px 4px 10px;
  border:2px solid #fff;
  box-sizing: inherit;
  cursor:pointer;
  display:inline-block;
  transition:all 0.5s;
}


.btn{
  border-radius: 0;
}
.btn-o {
    border: 1px solid #3A4F52;
    color: #3A4F52;
}
.btn-o:hover {
    background: #3A4F52;
    color: white;
}
.btn.btn-o-white {
    border: 1px solid white;
    color: white;
    background: transparent;
}
.btn.btn-o-white:hover {
    background: white;
    color: #6a6a6a;
}

.three-part{
  padding:0;
  margin:0;
}

.canvas-under{
  background-image: url('pictures/circle.png');
  background-color: #3068bb;
  position:absolute;
  top:0;
  left:0;
  width:100vw;
  height:350vh;
  background-size: contain;
  background-position: center;
  z-index:-1;
}

.container {
    width:100vw;
    height: auto;
}

#me,#portfolio{
  position: relative;
  background-color: transparent;
  display:flex;
  top:0;
  left:0;
  width:100vw;
  min-height:100vh;
  z-index:5;
}

.mask{
  background-color:rgba(176, 224, 254, 0.9);
}

.content {
    position: relative;
    height:100vh;
    flex:0 0 20%;
    left:0;
    z-index: 10;
    background: rgba(176, 224, 254, 0.9);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    align-items:center;
  }

.trans{
  font-size: 9vw;
  text-align:center center;
}

.label{
  font-weight: 500;
}

.bold{
  font-family:'GT';
}

.row {
    flex: 1;
}

.me-img img{
  display: block;
  max-width: 100%;
  height: auto;
  z-index:10;
}

.content-block{
	background:transparent no-repeat center center fixed;
	-webkit-background-size:100%;
	-moz-background-size:100%;
	-o-background-size:100%;
	background-size:100%;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	overflow:hidden;
	padding: 60px 0;
}

.header h1{
  font-size: 60px;
}

.block-body {
	margin-top: 60px;
}

.recent-work {
    width: 100%;
    padding-bottom: 27%;
    background: #C3C9CC;
    display: table;
    text-align: center;
    vertical-align: middle;
    padding-top: 27%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    margin-bottom: 30px;
}

.recent-work span{
	margin-top: -18px;
	opacity: 0;
	position: relative;
	z-index: 1;
}
.recent-work:before {
    background: rgba(2, 56, 58, 0.7);
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    opacity: 0;
    -o-transition: all .2s;
	-ms-transition: all .2s;
	-moz-transition: all .2s;
	-webkit-transition: all .2s;
	transition: all .2s;
}
.recent-work:hover {
    background-size: 200%;
    background-position: center;
}
.recent-work:hover:before, .recent-work:hover span {
    opacity: 1;
}



#contact{
  background-color: rgba(176, 224, 254, 1);
  background-image: url('pictures/waves.gif');
  width:100vw;
  background-repeat: no-repeat;
  background-size: 100vw 60vh;
  background-position: center bottom;
  top:0;
  left:0;
  height: 100vh;
  width: 100vw;
  z-index:15;
}

.header{
  text-align:center;
}

.bottle{
  top:0;
  z-index:10;
}

.form-control-white{
  background:transparent;
  color:white;
}

.form-control-white::-webkit-input-placeholder { /* WebKit browsers */
    color:    white;
}
.form-control-white:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    white;
    opacity:  1;
}
.form-control-white::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    white;
    opacity:  1;
}
.form-control-white:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    white;
}

.form-control{
  display:block;
  width:100%;
  font-size:14px;
  border:2px solid #fff;
  border-radius:4px;
  padding:12px 24px;
}

#preload{
  display:none;
}

/* Menu Button */

.menuHolder {
  z-index: 9999999999;
	position:fixed;
	top: 38px;
	right:38px;
}
.menu-circle {
  z-index: 999999999;
  position: fixed;
  top: 6px;
  right: 5px;
  width: 110px;
  height: 110px;
  background: url('pictures/menu.png') no-repeat center center;
  background-size: cover;
}

.c-hamburger {
  z-index: 9999999999;
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  width: 41px;
  height: 43px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.c-hamburger:focus {
  outline: none;
}

.c-hamburger span {
  display: block;
  position: absolute;
  top: 20px;
  left: 0px;
  right: 0px;
  height: 6px;
  background: #FFFFFF;
	-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
-khtml-border-radius: 10px;
}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 6px;
  background-color: #FFFFFF;
  background: #FFFFFF;
	-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
-khtml-border-radius: 10px;
  content: "";
}

.c-hamburger span::before {
  top: -14px;
}

.c-hamburger span::after {
  bottom: -14px;
}


/**
 * Hamburger to "x" (htx). Takes on a hamburger shape, bars slide
 * down to center and transform into an "x".
 */
.c-hamburger--htx {
  background-color: transparent;
}

.c-hamburger--htx span {
  -webkit-transition: background 0s 0.3s;
          transition: background 0s 0.3s;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  -webkit-transition-duration: 0.3s, 0.3s;
          transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0s;
          transition-delay: 0.3s, 0s;
}

.c-hamburger--htx span::before {
  -webkit-transition-property: top, -webkit-transform;
          transition-property: top, transform;
}

.c-hamburger--htx span::after {
  -webkit-transition-property: bottom, -webkit-transform;
          transition-property: bottom, transform;
}

/* active state, i.e. menu open */
.c-hamburger--htx.is-active {
  background-color: transparent;
}

.c-hamburger--htx.is-active span {
  background: none;
}

.c-hamburger--htx.is-active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.c-hamburger--htx.is-active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  -webkit-transition-delay: 0s, 0.3s;
          transition-delay: 0s, 0.3s;
}

.link-list {
	font-size:35px;
	line-height:50px;
	color:#ffffff;
	letter-spacing:1px;
	padding-top:100px;
	padding-left:20%;
}
.link-list li {list-style:none;}
.link-list a:link {color:#ffffff; text-decoration:none;}
.link-list a:visited {color:#ffffff; text-decoration:none;}
.link-list a:hover {color:#ffffff; text-decoration-line: underline; text-decoration-style: wavy; text-decoration-color: #ffffff; text-decoration-thickness: 2px; text-underline-offset: 6px;}
.link-list a:active {color:#ffffff; text-decoration:none;}

.menu-button {
	position: fixed;
	top: 20px;
	right:20px;
	z-index: 9999999999;
	padding: 0;
	border: none;
	color: #ffffff;
	background-color:#f3a6ad;
   	width:49px;
   	height:49px;
	-moz-border-radius: 25px;
	border-radius: 25px;

}

.menu-button span {
	display: none;
}

.menu-button:hover {
	cursor:pointer;
}

/* Menu */
.menu-wrap {
	position: fixed;
	z-index: 9999999999;
	background-color:#3b89de;
	-webkit-transition: width 0.3s, height 0.3s;
	transition: width 0.3s, height 0.3s;
	width: 0;
	height: 0;
	font-size: 1.5em;
	top:0px;
	right:0px;
	-webkit-transform-origin: 100% 0%;
	transform-origin: 100% 0%;
	-moz-border-bottom-left-radius: 500px;
	border-bottom-left-radius: 500px;
}

.menu {
	height: 100%;
	opacity: 0;
	font-size: 0.65em;
	color: #ffffff;
	text-align: center;
}

/* Shown menu */
.show-menu .content::before {
	opacity: 1;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.show-menu .menu-wrap {
	width: 500px;
	height: 500px;
	-moz-border-bottom-left-radius: 500px;
	border-bottom-left-radius: 500px;
	-webkit-animation: anim-jelly 0.8s linear forwards;
	animation: anim-jelly 0.8s linear forwards;
}

.show-menu .menu {
	opacity: 1;
	-webkit-transition: opacity 0.3s 0.3s;
	transition: opacity 0.3s 0.3s;
}
